.input_wrapper{
    position: relative;
    padding: 8px 0px;
    >input{
        width: 100%;
        outline: none;
        border: none;
        padding: 6px;
        transition: 0.4s;
        color: rgb(42, 42, 42);
        letter-spacing: 1px;
    }
    >label{
        transition: 0.4s;
        font-size: 12px;
        position: absolute;
    }
}