* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}
.marginLR8 {
  margin-left: 8px;
  margin-right: 8px
}
a {
  color: #4285f4;
  font-size: 14px;
  font-weight: 700;
}
.App__grid2 {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.App__grid3 {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.App__Section {
  margin-top: 20px;
  padding: 16px;
  background: #fefefe;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  &--title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    color: #4a4a4a;
  }
}
.App__demoTitle {
  margin-bottom: 10px;
  color: #9b9b9b;
  font-size: 14px;
  font-style: italic;
}
.App__dummyCard {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}