.flex {
  display: flex;
  &.alignCenter {
    align-items: center;
  }
  .flex1 {
    flex: 1
  }
}

.cover_full{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}